
@import url(./all.min.css);
@import url(./all.min.css);
@import url(./bootstrap.min.css);
@import url(./sweetalert2.css);

/* HEADER */

/* Contactos arriba del header */
.cajaGeneral{
    background-color: #063a65;
    justify-content: space-around;
    align-items: center;
    color: white;
    
    /* Contactos(Localizacion, gmail y telefono) */
    .contactos{
        justify-content: space-around;
        align-items: center;
        i{
            color: rgb(194, 123, 10);
        }
    }
    /* login */
    .btnLogin{
        color: white;
        
        background-color: rgb(194, 123, 10);
        span{
            font-weight: 500; 
        }
        
    }
}

/* Barra de navegacion */
.header{
    /* background-color: #ffffff; */
    height: 50px;
    color: black;
    font-family: cambria;
    /* Logo */
    .logo{
        justify-content: center;
        gap: 15px;
        align-items: center;
        span{
            font-weight: bold;
            color: #492503f7;;
        }
    }
    /* enlaces */
    .enlaces{
        justify-content: end;
        gap: 20px;
        align-items: center;
        a, .serv{ font-size: 17px; }
       
    }
    .enlaces a:hover{
        color: rgb(255, 179, 2);
    }
    /* Buscador y Boton de cambio de tema */    
    .buscYbtncambio{
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .buscar{
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0);
            /* box-shadow: 1px 1px 1px black; */
            height: 30px;
            .inpt{
                height: 30px;
                border-radius: 0;
                background-color: #4f0b0b00;
                border: none;
                
            }
            input:focus{
                outline: none;
            }
            i{
                font-size: 12px;
            }

        }
    }
}
/* Enuniados */
.enunciados{
    font-family: Cambria;
    color: #530a00;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    
}


.menuBurger{
    display: flex;
    justify-content: end;
}




/* FOOTER */

.footer {
    font-family: cambria;
    background-color: var(--color23);
    a{
        text-decoration: none;
        color: #000000;
       
    }
    a:hover{
        color: rgb(255, 179, 2);
    }
    .texto{
        justify-content: space-between;
    }
    .icons{
        justify-content: space-between;
        a{     
            i{
                border-radius: 50%;
                background-color: #0a5a62b7;
                font-size: 16px;
                
            }
        }
        a:hover{
            background-color: orange;
            color: #000000;
            border-radius: 50%;
        }
    }
}

/* RESPONSIVE HEADER*/

@media(min-width: 0px) and (max-width: 468px) {


    .cajaGeneral{
        .contactos{
            span, a{
                background-color: #fff;
                display: none;
                
            }
        }

    }

    .enlaces{
        display: none;
    }

    
    .offcanvas-body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        a:hover{
            color: rgb(255, 179, 2);
        }

    }

        
    
    


 
}










