*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
.header{
    background-color: rgb(15, 113, 149);
    height: 80px;
    width: 100%;
    display: flex;
    gap: 130px;
    position: sticky;
    top: 0;
}
/*LOGO*/
.logo{
    width: 90px;
    margin: 5px 0px 20px 70px;
}
.logo img{
    width: 100%;
    border-radius: 150%;
}
/*ENLACES DEL MEDIO*/
.enlaces{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    
}
.enlaces i{
    color: black;
    font-size: 23px;
    text-shadow: none;
}
.enlaces a{
    text-decoration: none;
    color: rgb(251, 245, 245);
    font-size: 22px;
    font-family: cambria;
    margin-top: 5px;
    text-shadow: 1px 1px 0px black;
    
}
/*Buscador*/
.buscador{
    width: 250px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
}
.buscador i{
    font-size: 16px;
    color: brown;
    margin: 6px 0px 0px 5px;
}
.buscador input{
    width: 210px;
    height: 20px;
    font-size: 18px;
    font-family: serif;
    border: none;
    outline: none;
    color: blue;
    font-weight: bold;
}
/*Menus desplegables*/
.servis{
    background-color: rgb(15, 113, 149);
    border: none;
    font-size: 23px;
    text-shadow: 2px 2px 0px black;
    font-family: cambria;
}

.ulu li a{
    text-shadow: none;
    color: black;
    font-size: 20px;
}
.ulu li a:hover{
    background-color: rgba(32, 213, 16, 0.895);
    border-bottom: none;
    border-radius: 5px;
    color: rgb(39, 11, 133);
}

/*Hover sobre los enlaces principales*/
.servis:hover, .enlaces a:hover, .cont a:hover{
    background-color: rgb(160, 220, 39);
    color: rgba(0, 0, 0, 0.747);
    text-shadow: none;
    transition: 1s ;
    transform: scale(1);
    border-radius: 5px;
    text-align: center;
    height: 37px;
    
}

/*Iconos de contactos para el header de los formularios*/
.header .con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.header .con i{
    color: black;
    font-size: 25px;

}
.con a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 0px 0px rgba(125, 118, 118, 0.95);
}




