

/*ESLOGAN*/
.eslo{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.60)),url(../IMG/fondo3.jpg);
    text-align: center;
    margin-bottom: 40px;
}

.eslo h1{
    color: rgb(252, 252, 252);
    padding-top: 80px;
    padding-bottom: 30px;
    font-weight: bold;
    font-family: cambria;
    font-size: 45px;
    text-shadow: 2px 2px 0px black;
}
.eslogan{
    color:rgb(125, 11, 11);
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bolder;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 1px 1px 0px rgb(11, 10, 10);
}
.todo{
    width: 100%;
    
}

/*SOBRE NOSOTROS*/
h1{
    text-align: center;
    color: rgb(12, 12, 121);
    font-family: cambria;
    font-weight: bold;
    margin-bottom: 10px;
}
.nos{
    margin-left: 400px;
    margin-top: 50px;
    width: 900px;
    height: 450px;
    display: flex;
    gap: 50px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgb(24, 24, 24);
    background-color: rgba(43, 205, 226, 0.667); 
    margin-bottom: 20px;
}
/*Foto de sobre nosotros*/
.nos .fot{
 
    margin-left: 30px;
    width: 400px;
    height: 350px;
}
.nos .fot img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
   
}
/*Texto de Sobre Nosotros*/
.text{ 
    margin-top: 10px;
    width: 700px;
    text-align: justify;
    font-family: cambria;
    font-size: 20px;
}


/*SERVICIOS*/
.servicios{
    width: 90%;
    height: 550px;
    display: flex;
    gap: 30px;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 50px 30px 0px 30px;
    background-color: #01ae46;
}
.servicios h3{
    text-align: center;
    color: orangered;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: cambria;
}
.caja{
    width: 35%;
    height: 430px;
    text-align: center;
    border-radius: 5%;
    background-color: #a35656;
}
/*Caja de la foto y el texto de los servicios*/
.defin{
    width: 100%;
    height: 90%;
    display: flex;
    gap: 20px;
    padding: 20px 0px 0px 10px;
    
}
/*caja de la foto de los servicios*/
.defin .foto{
    margin-top: 20px;
    width: 150px;
    height: 80px;
}
.defin .foto img{
    width: 100%;
    border-radius: 25px;
   
}
/*texto de los servicios*/
.texto{
    width: 260px;
    height: 250px;
    font-family: cambria;
    text-align: justify;
    
}





/*HORARIO Y NOTA*/
.dere{
    text-align: center;
    margin-left: 550px;
    background-color: rgba(76, 43, 226, 0.667);
    padding: 20px;
    margin-top: 20px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(251, 251, 251);
    
}
.horario h1{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: cambria;
    color: rgb(255, 255, 255); 
}
.horario p{
    font-size: 25px;
    font-family: cambria;
    margin-bottom: 15px;
    font-weight: bold;
    color: rgba(1, 1, 1, 0.719);
}
#not{
    background-color: brown;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    font-family: cambria;
    
}

